$font-base: 'Chiswick Grotesque', sans-serif;
$font-display: 'PT Serif', Georgia, serif;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: $base-font-size-mobile * 1px;
  font-family: $font-base;
  color: $color-base;
  @include larger-than(mobile) {
    font-size: $base-font-size * 1px;
  }
}

pre {
  display: inline-block;
  background: #EEE;
  padding: 0 8px;
  margin: 0;
  font-size: $base-font-size;
  vertical-align: bottom;
  border-radius: .3em;
  border: 1px solid #DDD;
}

a {
  color: inherit;
}

ol,
ul,
p {
  line-height: 1.666666;
  font-size: 1em;
  margin: 0 0 1.5em;
  a {
    text-decoration: underline;
    &:hover {
      color: darken($color-base, 30%);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: $font-display;
}

blockquote {
  position: relative;
  margin: 2em 0;
  padding-left: 4em;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  line-height: 1.5;
}

blockquote:before {
  color: $color-feint;
  content: "\201C";
  font-size: 6em;
  position: absolute;
  left: 0;
  top: -0.25em;
}

.cta {
  display: inline-block;
  background: rgba($color-accent-1, 1);
  color: white;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.125em;
  transition: background-color 0.25s;
  &:after {
    content: "\2192";
    display: inline-block;
    margin-left: 0.5em;
    position: relative;
    top: 2px;
  }
  &:hover {
    background: rgba($color-accent-1, 0.75);
    border-bottom: 0.2em solid $color-accent-1;
    margin-top: -0.2em;
    color: white;
  }
}
