.about-page {
  position: relative;
  @include larger-than(tablet) {
    padding-left: 45%;
  }  
}

.about-page__key-image {
  float: left;
  width: 40%;
  margin: 0 1.5em 1em 0;
  @include larger-than(mobile) {
    margin: 0 2em 1em 0;
    width: 33.333333%;
  }
  @include larger-than(tablet) {
    float: none;
    margin: 0;
    position: absolute;
    width: calc(45% - 2em);
    left: 0;
    top: 0;
  }  
}
