.homepage-intro {
  @include larger-than(mobile) {
    @include columns(2);
  }
}

.homepage-intro__image {
  float: right;
  width: 50%;
  margin-left: $width-content-padding-mobile;
  @include larger-than(mobile) {
    float: none;
    width: auto;
    margin-left: 0;
  }
}
