.site-nav {
  margin: $height-content-padding-mobile 0 4em;
  @include larger-than(mobile) {
    margin: $height-content-padding 0;
  }
}

.site-nav__items {
  @include reset-ul;
  white-space: nowrap;
}

.site-nav__item {
  display: inline-block;
  margin-right: 2em;
}

.site-nav__link {
  text-decoration: none;
  padding: 0.5em 0;
  &:hover,
  &.site-nav__link--active {
    color: $color-accent-1;
    border-bottom: 3px solid $color-accent-1;
  }
}
