.site-header {
  padding: $height-content-padding-mobile 0;
  background: url('/images/header-bg.jpg');
  background-size: 100%;
  margin-bottom: $height-content-padding-mobile;
  background-attachment: fixed;
  @include larger-than(mobile) {
    padding: 5em 0 6em;
    margin-bottom: $height-content-padding;
  }
}

.site-header__title {
  width: 10em;
  text-decoration: none;
  display: block;
  font-size: 1.25em;
  color: rgba($color-accent-1, 1);
  transition: color 0.25s;
  margin-bottom: 2em;
  &:hover {
    color: rgba($color-accent-1, 0.5);
  }
}

.site-header__tagline {
  font-size: 1.75em;
  display: block;
  line-height: 1.5;
  @include larger-than(mobile) {
    width: 66.666666%;
    font-size: 2em;
  }
}
