.site-nav {
  margin: $height-content-padding-mobile 0;
  border-bottom: 1px solid $color-border;
  @include larger-than(mobile) {
    margin: $height-content-padding 0;
  }
}

.site-nav__title {
  width: 10em;
  margin-bottom: 2em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @include larger-than(mobile) {
    margin-bottom: 0;
  }
}

.site-nav__items {
  @include reset-ul;
  margin: 4em 0;
}

.site-nav__item {
  display: inline-block;
  margin-right: 2em;
}

.site-nav__link {
  text-decoration: none;
  padding: 0.5em 0;
  &:hover,
  &.site-nav__link--active {
    color: $color-accent-1;
    border-bottom: 3px solid $color-accent-1;
  }
}

