.social {
  margin: 0 0 4em;
}

.social__items {
  @include reset-ul;
}

.social__item {
  display: inline-block;
  img {
    width: 1.25em;
    height: 1.25em;
    display: block;
    margin-right: 1.5em;
    opacity: 0.55;
    transition: opacity 0.25s;
  }
  a:hover img {
    opacity: 1;
  }
}