$base-font-size-mobile: 14;
$base-font-size: 16;
$width-page-content-min: 18.75rem;
$width-page-content-max: 72rem;
$width-content-padding-mobile: 1.25rem;
$width-content-padding: 4rem;
$height-content-padding-mobile: 2em;
$height-content-padding: 4rem;
$transition-time: 200ms;
